extends layout

block content
  h1(style="font-weight: Bold")= title
  p(style="text-decoration: underline; font-family: Arial, sans-serif; font-size: 20px; color: red;" ) Welcome to #{title}

  -
    //class House{
      //constructor(house_bed_bath, house_sqft, house_cost){
        //this.house_bed_bath = house_bed_bath;
        //this.house_sqft = house_sqft;
        //this.house_cost = house_cost;
      //}
    //}
    //let house1 = new House("3bd/2ba", 1200, 150000);
    //let house2 = new House("3bd/2ba", 2000, 200000);
    //let house3 = new House("4bd/3ba", 3000, 600001);

    let items = results

  div(class="container-fluid" style="background-color:black; color: white" )
    div(class="row")
      each item in items
        div(class="col-sm-2") Beds and Baths: #{item.house_bed_bath} <br> House sq.ft.: #{item.house_sqft} <br> House Cost: #{item.house_cost}
